
body{
    text-align: center;
    font-family:'Gill Sans';
}
p{
    max-width: 800px;
    text-align: center;
    padding: 0 20px;
}
h1{
    width: auto;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
}

#image{
    display: block;
    text-align: center;
    margin: 10px auto;
}

h2{
    color: blue;
    width: auto;
    text-align: center;
    margin: 0px auto;
}

h3{
    text-align: center;
    margin: 10px auto;
}