h1{
    width: auto;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
}

#image{
    text-align: center;
    margin: 0 auto;
}

h2{
    color: blue;
    width: auto;
    text-align: center;
    margin: 0 auto;
}
