h1{
    width: auto;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
}

div.image{
    width: auto;
    text-align: center;
}
h2{
    color: blue;
    width: auto;
    text-align: center;
    margin: 0 auto;
}

p{
    width: auto;
    height: auto;
    text-align: center;
}